@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  body {
    @apply antialiased;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  }
}

@layer utilities {
  .animate-in {
    animation: animateIn 0.2s ease-out;
  }

  .slide-in-from-right {
    --tw-enter-translate-x: 100%;
  }

  @keyframes animateIn {
    from {
      opacity: 0;
      transform: translateX(var(--tw-enter-translate-x, 0));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

